.preview_container {
	width: 200px;
	height: 200px;
}

.show_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.available_colors {
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

.available_colors ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}